@import "../../fonts/sf-pro-text/stylesheet.css";
@import "../../App.scss";
.iphone-15 {
  background-image: url("../../../public/assets/bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 692px;
  @include for-mob() {
    height: 500px !important;
  }
  background-position: bottom;
  .content {
    text-align: center;
    padding-top: 55px;
    .head {
      color: #1d1d1f;
      font-size: 56px;
      font-family: "SF Pro Text-600";
      line-height: 1.07143;
      font-weight: 600;
      letter-spacing: -0.05em;
    }
    .sub-head {
      font-size: 28px;
      color: #1d1d1f;
      font-family: "SF Pro Text-normal";
      font-weight: 400;
      line-height: 1.10722;
      font-weight: 400;
      letter-spacing: -0.05em;
      margin-top: 6px;
    }
    .links {
      margin-top: 0.65em;
      a {
        text-decoration: none;
        color: #2997ff;
        font-size: 21px;
        font-family: "SF Pro Text-normal";
        line-height: 1.381;
        font-weight: 400;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-end;
        letter-spacing: 0.011em;
        img {
          height: 26px;
        }
        &:last-child {
          margin-left: 35px;
        }
      }
    }
  }
}
