@import "../../fonts/sf-pro-text/stylesheet.css";
nav {
  background: #181818;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 52%;
    height: 100%;
    li {
      a {
        text-decoration: none;
        color: #d1d1d1;
        font-family: "SF Pro Text-normal";
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.05em;
        display: grid;
      }
    }
  }
}
