@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}
@mixin for-1024-768 {
  @media screen and (min-width: 920px) and (max-width: 1024px) {
    @content;
  }
}
@mixin for-tab {
  @media screen and (min-width: 545px) and (max-width: 920px) {
    @content;
  }
}
@mixin for-mob {
  @media screen and (max-width: 544px) {
    @content;
  }
}
.products {
  background-color: #fff;
}
.wrapper {
  background-color: #fff;
}
footer {
  background-color: #fff;
  padding-bottom: 16px;
}
.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include for-mob() {
    grid-template-columns: 1fr;
  }
  @include for-tab() {
    grid-template-columns: 1fr;
  }
  grid-gap: 12px;
  padding: 12px;
  .col {
    height: 580px;
    text-align: center;
    .right-link {
      margin-left: 28px;
    }
    .link {
      margin-top: 0.7em;
    }
  }
}
.watch .content .links a {
  &:hover {
    text-decoration: unset !important;
  }
}
section {
  .content {
    .head {
      @include for-mob() {
        font-size: 32px !important;
      }
    }
    .sub-head {
      @include for-mob() {
        font-size: 19px !important;
      }
    }
  }
}
.content {
  .links {
    a {
      @include for-mob() {
        font-size: 17px !important;
      }
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}
.offer {
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.products {
  .content {
    .link {
      a {
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}
